<!DOCTYPE html>
<html>
<head>
  <title>Login con Facebook</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      text-align: center;
    }
    
    h1 {
      color: #333;
    }
    
    .login-button {
      display: inline-block;
      background-color: #4267B2;
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 40px;
      font-size: 20px;
      transition: background-color 0.3s, transform 0.3s;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    .login-button:hover {
      background-color: #3b5998;
      transform: scale(1.05);
    }
  </style>
</head>
<body>
  <h1>Login con Facebook</h1>
  <a href="/user/auth/facebook" class="login-button">Iniciar sesion con Facebook</a>
</body>
</html>
